body {
  background: white;
}
.brand-banner {
  margin: 0 10px 10px;
  height: 300px;
  background: rgb(238, 238, 238);
  border: 1px solid rgb(127, 127, 127);
  border-top: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}
.brand-banner > img {
  height: 100%;
  width: auto;
  overflow: hidden;
}
.brand-label {
  padding: 0 15px;
  position: sticky;
  top: 59px;
  background: white;
  z-index: 1;
}
.brand-name-label {
  padding: 10px 25px;
  color: rgb(138, 138, 138);
  font-size: 12px;
}
.brand-label-menu {
  margin-bottom: 10px;
  padding: 0 20px 15px 20px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid rgb(188, 188, 188);
}
.follow-brand-button {
  margin-right: 10px;
  padding: 5px 15px;
  height: fit-content;
  font-size: 14px;
  border: 2px solid rgb(178, 178, 178);
  border-radius: 3px;
}
.brand-share-icon {
  margin-left: 5px;
}
.brand-pic {
  height: 32px;
  width: auto;
}
.brand-menu {
  margin: 0 15px;
  font-size: 14px;
  display: flex;
}
.menu-element {
  margin: 0 15px;
  padding: 7px 2px 5px 2px;
  border-bottom: 3px solid rgba(150, 147, 147, 0);
}
.active-menu-element {
  border-bottom: 3px solid rgba(26, 26, 26, 0.442);
}
.menu-element:hover {
  border-bottom: 3px solid rgba(34, 34, 34, 0.656);
  transition: 0.2s;
}
.brand-search {
  margin: 0 5px 0 30%;
  padding: 2px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 7px;
  display: flex;
}
.brand-search > input {
  margin-left: 10px;
  padding: 0;
  width: 260px;
  font-size: 13px;
  border: none;
}
.brand-tagline {
  padding: 60px 15px 45px 15px;
  color: rgb(30, 30, 30);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-feed-box {
  margin: 0 10px;
}
.home-feed-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.home-class-banner {
  width: 49.36%;
  background: rgb(90, 113, 87);
}
.home-class-element {
  min-height: 400px;
  width: 24%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.home-class-element:hover {
  box-shadow: 0 0 10px rgba(43, 43, 43, 0.292);
  transition: 0.3s;
}
.home-class-element-pic {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 70%;
  max-height: 100%;
}
.home-class-pic {
  position: relative;
  margin-top: 10px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.home-class-element-details {
  padding: 10px;
}
.element-name {
  margin-bottom: 10px;
  color: rgb(48, 48, 48);
  font-size: 14px;
}
.element-price {
  color: #096a00;
  font-size: 18px;
  font-weight: 600;
}
.brand-poster {
  margin: 0 10px 20px;
}
.brand-poster-pic {
  width: 100%;
}
