@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
}
body {
  background: rgb(217, 231, 229);
  overscroll-behavior: none;
  color: rgb(40, 40, 40);
}
.header {
  top: 0;
  position: sticky;
  z-index: 2;
  height: 50px;
  padding: 10px;
  background: #f8fff7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  outline-style: none;
}
.top-searchbar {
  height: 30px;
  width: 500px;
  padding: 5px;
  background: #096a0017;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.header-side-icon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.header-list {
  margin-right: 25px;
  display: flex;
}
.header-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.login {
  background: url(https://img.icons8.com/puffy/64/test-account.png);
  background-size: cover;
}
.header-item:hover .login {
  background: url(https://img.icons8.com/puffy-filled/64/000000/test-account.png);
  background-size: cover;
}
.cart {
  background: url(https://img.icons8.com/fluency-systems-regular/96/000000/shopping-cart--v1.png);
  background-size: cover;
}
.header-item:hover .cart {
  background: url(https://img.icons8.com/fluency-systems-filled/96/000000/shopping-cart.png);
  background-size: cover;
}
.seller {
  background: url(https://img.icons8.com/fluency-systems-regular/96/000000/shop.png);
  background-size: cover;
}
.header-item:hover .seller {
  background: url(https://img.icons8.com/fluency-systems-filled/96/000000/shop.png);
  background-size: cover;
}
.more-icon {
  height: 30px;
  width: 30px;
  background: url(https://img.icons8.com/sf-black-filled/64/000000/right-squared.png);
  background-size: cover;
}
.ads-button {
  margin: 20px;
  padding: 5px 20px;
  height: fit-content;
  width: fit-content;
  background: rgba(35, 35, 35, 0.721);
  color: rgba(255, 255, 255, 0.73);
  font-weight: 600;
  border-radius: 20px;
}
.aside-ads {
  display: flex;
  height: 720px;
  width: 720px;
  border-radius: 2px;
}
.ad-01 {
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4963c483304265.5d38bc944b9e8.jpg);
  background-size: cover;
}
.open-page-icon {
  margin-left: 175px;
  height: 24px;
  width: 24px;
  background: #096a00;
  background-image: url(https://cdn.icon-icons.com/icons2/1674/PNG/512/diagonalarrowleftup_110964.png);
  background-size: cover;
  transform: rotate(90deg);
  border-radius: 5px;
}
.explore-button {
  padding: 5px 10px;
  margin: 500px 0 0 200px;
  height: fit-content;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.453);
  backdrop-filter: blur(10px);
  color: rgba(0, 0, 0, 0.736);
  font-size: 20px;
  font-weight: 700;
}
