::-webkit-scrollbar {
  display: none;
}
.navbar {
  margin: 10px;
  background: rgb(235, 220, 202);
  padding: 0 10px 10px 10px;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.nav-dropdown {
  width: 150px;
  z-index: 1;
}
.nav-dropdown-title,
.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-pic {
  display: flex;
  justify-content: center;
}
.dropdown-icon {
  height: 24px;
  width: 24px;
  background: url(https://img.icons8.com/material-rounded/96/000000/expand-arrow--v1.png);
  background-size: cover;
}
.nav-dropdown:hover .nav-dropdown-title,
.nav-dropdown:hover .nav-title {
  color: #096a00;
}
.nav-dropdown:hover .dropdown-icon {
  background: url(https://img.icons8.com/material-rounded/96/096A00/expand-arrow--v1.png);
  background-size: cover;
  rotate: 180deg;
  transition: 0.2s;
}
.nav-dropdown-content {
  display: none;
  padding: 5px 0;
  background: rgb(235, 220, 202);
}
.nav-dropdown:hover .nav-dropdown-content {
  display: block;
  border: 1px solid burlywood;
  border-radius: 0 0 5px 5px;
}
.nav-dropdown-item {
  padding: 0 5px;
  display: flex;
  height: 20px;
}
.nav-dropdown-item:hover {
  background: rgba(210, 197, 181, 0.327);
  color: #096a00;
}
.trend {
  display: flex;
  margin: 0 5%;
  justify-content: space-between;
}
.card {
  margin: 15px;
  width: 250px;
  height: 350px;
  background: rgba(210, 174, 56, 0.789);
  border-radius: 25px;
}
.card-pic {
  height: 260px;
  width: 230px;
  padding: 10px;
  background: rgb(255, 255, 255);
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: end;
  position: relative;
}
.card-option {
  height: 30px;
  width: 30px;
  background: wheat;
  margin: 5px;
}
.card-pic > div {
  display: flex;
  bottom: 10px;
  position: absolute;
  height: max-content;
  display: none;
}
.card:hover .card-pic > div {
  display: block;
}
.card-pic > div > div {
  padding: 2px 0;
  background: #ffffff57;
  border-radius: 5px;
  backdrop-filter: blur(5px);
}
.card-star {
  background: url(https://img.icons8.com/fluency-systems-regular/96/202020/star--v1.png);
  background-size: cover;
}
.card-star:hover {
  background: url(https://img.icons8.com/fluency-systems-regular/96/FF2C2C/star--v1.png);
  background-size: cover;
}
.card-add-to-cart {
  background: url(https://img.icons8.com/fluency-systems-regular/96/202020/add-shopping-cart.png);
  background-size: cover;
}
.card-add-to-cart:hover {
  background: url(https://img.icons8.com/fluency-systems-regular/96/096a00/add-shopping-cart.png);
  background-size: cover;
}
.card-not-intrested {
  background: url(https://img.icons8.com/fluency-systems-regular/96/202020/thumbs-down.png);
  background-size: cover;
}
.card-not-intrested:hover {
  background: url(https://img.icons8.com/fluency-systems-regular/96/339AF0/thumbs-down.png);
  background-size: cover;
}
.card-details > div {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-name {
  margin-top: 5px;
  font-size: larger;
}
.item-price {
  font-weight: 600;
  color: #096a00;
}
.card-pic-01 {
  background: url(https://img.freepik.com/free-vector/headphones-wireless-realistic-composition-with-isolated-image-phones-with-power-bank-dock-station-with-reflections-vector-illustration_1284-73201.jpg?t=st=1708702277~exp=1708705877~hmac=9befc738f160fcf37d199a93ff4cd363d12dfb78069012a0bfd4f190d2a1cf81&w=740);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-pic-02 {
  background: url(https://img.freepik.com/free-photo/close-up-futuristic-sneakers_23-2151005666.jpg?t=st=1708703134~exp=1708706734~hmac=1cca589f12ee570509ef4f43e9b3c0ffda3122f522b8d3342881b25b0dd7e8a1&w=360);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-pic-03 {
  background: url(https://img.freepik.com/free-photo/panoramic-technology-banner-with-electronic-devices_23-2151215009.jpg?t=st=1708703665~exp=1708707265~hmac=8d2285fa0dc47a06fae9eff71fe27ccf2169291cfcaf91d2c9578c8966f046b2&w=360);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-pic-04 {
  background: url(https://img.freepik.com/free-photo/headphones-balancing-with-blue-background_23-2150271756.jpg?t=st=1708702986~exp=1708706586~hmac=8843d40c97e26d65d1e32381b871d874c2de983b85059c058fd8b30c0035becf&w=740);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-pic-05 {
  background: url(https://img.freepik.com/free-photo/rendering-smart-home-device_23-2151039303.jpg?t=st=1708704336~exp=1708707936~hmac=d7a85f267e5166cb19f0c6f48b46091666a9f435bb3ea19b8f39fcdebfd41ad7&w=360);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-pic-06 {
  background: url(https://img.freepik.com/free-photo/view-electronic-product-balancing-podium_23-2150141323.jpg?t=st=1708704498~exp=1708708098~hmac=5d98287a884be06a69d932e60371c5d82bbff2b4a49cb02174c32e2d6b36a4b1&w=740);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-pic-07 {
  background: url(https://img.freepik.com/free-vector/flat-minimalist-support-small-business-t-shirt_742173-10802.jpg?t=st=1708704645~exp=1708708245~hmac=a9cc70744c70f50abbace110ea8617b93fe2e216d0e9405ce920d59da43c1005&w=360);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-pic-08 {
  background: url(https://img.freepik.com/free-photo/beauty-color-leather-texture-elegance_1203-6500.jpg?t=st=1708704894~exp=1708708494~hmac=0b2bec51e8d3a0263ee386006d4e653162a1e2bbada92fc29ae7df4781ced339&w=360);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.best-of,
.top-brands {
  margin: 10px;
  padding: 15px;
  border-radius: 2px;
  background: white;
}
.best-of-display {
  margin: 0 7px;
  height: 300px;
  border: 1px solid #096a0034;
  border-radius: 3px;
}
.preview-display {
  height: auto;
  width: 100%;
  border-radius: 2px;
}
.best-of-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best-of-title,
.top-brands-title {
  padding: 10px;
  padding-bottom: 30px;
  font-size: 20px;
}
.display-box {
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
}
.display-pic {
  width: 200px;
  height: 230px;
  display: flex;
  align-items: center;
}
.best-of-display:hover .display-pic {
  opacity: 80%;
}
.display-details {
  padding: 20px 5px 10px 5px;
}
.display-title {
  font-size: 14px;
}
.display-price {
  font-weight: 600;
  color: #096a00;
}
.display-title,
.display-price {
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-brands-title {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.top-brands-box {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.top-brands-logo {
  padding: 10px;
  width: 200px;
  display: flex;
  align-items: center;
}
.top-brands-pic {
  height: auto;
  width: 100%;
}
.best-of-title:hover .more-icon {
  background: url(https://img.icons8.com/sf-black-filled/64/096a00/right-squared.png);
  background-size: cover;
}
.spot {
  margin: 10px;
  display: flex;
  background: linear-gradient(
    to left,
    rgb(255, 255, 255) 60%,
    rgba(255, 0, 0, 0)
  );
  border-radius: 2px;
}
.spot-desc {
  padding: 20px 0 0 50px;
  width: 50%;
}
.spot-pic {
  margin: 0 0 0 50px;
  padding: 0 70px 0 40px;
  background: linear-gradient(
      to left,
      white,
      rgba(255, 255, 255, 0) 60%,
      rgb(255, 255, 255)
    ),
    url(https://img.freepik.com/free-photo/abstract-background-with-marble-style-texture_1048-8271.jpg?t=st=1708931972~exp=1708935572~hmac=5cce80f322e20ea5b488c38fc5519c80c85fb560c051aabf61d5e748ecbf8ba0&w=740);
  background-size: auto;
}
.spot-preview {
  height: 600px;
  width: auto;
}
.spot-title {
  padding-left: 35px;
  font-size: 80px;
  color: rgb(39, 39, 39);
  height: 60%;
}
.spot-items-box {
  width: 1000px;
  height: 40%;
  display: flex;
  align-items: center;
}
.spot-item-card {
  z-index: 1;
  width: 100%;
  height: 190px;
  background: #096a003a;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.spot-item-card-desc {
  height: 150px;
  padding: 20px 40px 20px 20px;
  font-size: 35px;
}
.spot-item-card-desc > div {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(88, 88, 88);
}
.spot-item-card-pic {
  padding: 5px;
  height: 140px;
  width: 200px;
  margin: 20px 25px 20px 0;
  border-radius: 10px;
  display: flex;
}
.spot-pic-01 {
  background: url(https://5.imimg.com/data5/OH/JI/MY-54131888/stylish-woolen-cap.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.spot-pic-02 {
  background: url(https://www.leathersjacket.com/wp-content/uploads/2020/05/3_be030789-0b7f-4ccc-ae90-9e8cb730b60b-1-scaled.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.spot-pic-03 {
  background: url(https://static.vecteezy.com/system/resources/previews/024/569/937/non_2x/leather-shoe-on-wood-formal-men-fashion-generated-by-ai-free-photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.divided-recommendation {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.for-you {
  padding: 15px;
  height: 690px;
  width: 750px;
  border-radius: 2px;
  background: #ffffff;
}
.gap {
  margin: 15px;
}
.for-you-1-col {
  padding: 15px;
  width: 1070px;
  border-radius: 2px;
  background: white;
}
.best-of-display:hover,
.top-brands-logo:hover,
.top-brands-title:hover,
.best-of-title:hover,
.card-details,
.card-option,
.spot-item-card-desc > div:hover {
  cursor: pointer;
}
