.navbar {
  margin: 10px;
  background: rgb(235, 220, 202);
  padding: 10px;
  height: 20px;
  display: flex;
}
.nav-dropdown {
  width: 150px;
  z-index: 1;
}
.nav-dropdown-title,
.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-dropdown-content {
  display: none;
  padding: 5px 0;
  background: rgb(235, 220, 202);
}
.nav-dropdown:hover .nav-dropdown-content {
  display: block;
  border: 1px solid burlywood;
  border-radius: 0 0 5px 5px;
}
.nav-dropdown:hover .nav-dropdown-title {
  background: burlywood;
  border-radius: 5px 5px 0 0;
}
.nav-dropdown-item {
  padding: 0 5px;
  display: flex;
  height: 20px;
}
.nav-dropdown-item:hover {
  background: rgba(0, 0, 0, 0.115);
}
.trend {
  display: flex;
}
.card {
  margin: 15px;
  width: 250px;
  height: 350px;
  background: chartreuse;
  border-radius: 25px;
}
.card-pic {
  height: 260px;
  width: 230px;
  padding: 10px;
  background: rgb(255, 255, 255);
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: end;
  position: relative;
}
.card-option {
  height: 30px;
  width: 30px;
  background: wheat;
  margin: 5px;
}
.card-pic > div {
  display: flex;
  bottom: 10px;
  position: absolute;
  height: max-content;
  display: none;
}
.card:hover .card-pic > div {
  display: block;
}
.card-star {
  background: url(https://img.icons8.com/fluency-systems-regular/96/000000/star--v1.png);
  background-size: cover;
}
.card-add-to-cart {
  background: url(https://img.icons8.com/fluency-systems-regular/96/000000/add-shopping-cart.png);
  background-size: cover;
}
.card-not-intrested {
  background: url(https://img.icons8.com/fluency-systems-regular/96/000000/thumbs-down.png);
  background-size: cover;
}
.card-details > div {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-name {
  margin-top: 5px;
  font-size: larger;
}
.item-price {
  font-weight: 600;
}
