.product-page-navbar {
  margin-bottom: 5px;
  padding: 10px 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #44444460;
}
.product-page-navbar > div {
  font-size: 12px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.product-page-navbar > div:hover {
  border-bottom: 2px solid #096a00;
}
.product-page-navbar-department {
  color: #096a00;
}
.product-section {
  margin: 0 75px;
  display: flex;
  justify-content: space-between;
}
.product-display {
  padding: 10px;
  width: 500px;
}
.product-image-section {
  padding: 10px;
  min-height: 480px;
  position: sticky;
  top: 80px;
  display: flex;
  align-items: center;
}
.product-image-section > img {
  height: auto;
  width: 100%;
}
.product-about {
  padding: 20px 0 20px 20px;
  width: 820px;
}
.product-title {
  width: 700px;
}
.product-name {
  margin-bottom: 10px;
  font-size: 20px;
}
.product-price {
  padding: 5px;
  color: #096a00;
  font-size: 30px;
}
.price-section {
  margin-bottom: 15px;
  padding-left: 5px;
  display: flex;
}
.product-market-price {
  margin-right: 15px;
  color: rgb(132, 132, 132);
  text-decoration: line-through;
}
.product-discount {
  color: #096a00;
}
.offers-header {
  margin-bottom: 10px;
}
.offer-body-set {
  margin-bottom: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.product-offer-icon {
  margin-right: 5px;
  height: 24px;
  width: auto;
}
.offer-type {
  font-weight: 600;
  margin-right: 5px;
}
.offer-TnC > a {
  margin-left: 5px;
  color: #0089b7;
}
.product-additional {
  margin-top: 20px;
  padding: 20px 0;
  font-size: 14px;
  display: flex;
  border-top: 1px solid rgba(68, 68, 68, 0.378);
  border-bottom: 1px solid rgba(68, 68, 68, 0.378);
}
.product-add-element {
  margin-right: 10px;
  width: 150px;
}
.product-add-element > div {
  display: flex;
  justify-content: center;
}
.add-element-icon {
  height: 100px;
  width: 100px;
  background: #deb88790;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-element-title {
  margin-top: 10px;
  padding: 0 5px;
  color: #7777ff;
}
.product-overview {
  margin-top: 30px;
  padding-bottom: 10px;
}
.table-title {
  width: 120px;
  height: auto;
  font-weight: 600;
}
td {
  padding: 5px 10px 5px 0;
  font-size: 14px;
}
.product-desc {
  border: 1px solid #44444460;
  border-top: none;
}
.product-desc > div {
  border-top: 1px solid #44444460;
}
.product-desc-title {
  padding: 20px;
  font-size: 24px;
}
.product-desc-box {
  padding: 20px 0;
}
.product-desc-cell {
  display: flex;
}
.desc-cell-picture {
  padding: 0 20px;
}
.desc-cell-details {
  padding: 0 20px;
}
.desc-cell-detail-title {
  padding: 10px 0;
  color: #096a00;
  font-size: 18px;
}
.desc-cell-detail-body {
  font-size: 14px;
}
.desc-cell-pic {
  height: 160px;
  width: auto;
}
.similar-item {
  width: 100%;
}
.similar-item-element {
  margin: 10px;
  padding: 10px;
  background: white;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 2px;
}
.similar-item-element:hover .similar-item-name {
  color: #0089b7;
}
.similar-item-element:hover {
  box-shadow: 0 0 7px 2px rgba(51, 51, 51, 0.216);
  transition: 0.2s;
}
.similar-item-header {
  margin-bottom: 10px;
  padding: 10px 20px;
  color: #096a00;
  font-size: 20px;
}
.similar-item-body {
  padding: 10px;
  overflow-x: scroll;
  display: flex;
}
.similar-item-body::-webkit-scrollbar {
  width: 0;
}
.similar-item-picture {
  margin-bottom: 5px;
  width: 175px;
  height: fit-content;
  display: flex;
}
.similar-item-pic {
  width: 100%;
  height: auto;
}
.similar-item-name {
  margin-bottom: 5px;
  font-size: 14px;
  width: 175px;
}
.similar-item-price {
  color: #096a00;
  font-size: 18px;
}
